{% extends "base.html" %}

{% block pagetitle %} {{case.id}} - jQuery Tester{% endblock %}

{% block title %}jQuery Tester{% endblock %}

{% block main %}

<div id="case">
    <h2>Source</h2>
    <form action="" method="POST">
        {{form.script}}
        <p class="disabled">
            <code>
&lt;!DOCTYPE html PUBLIC ... &gt;<br />        
&lt;html&gt;
&lt;head&gt;<br />
    &lt;script ...&gt;&lt;/script&gt;<br />
&lt;/head&gt;
&lt;body&gt;
</code>
        </p>
        {{form.source}}
        <p class="disabled"><code>
&lt;/body&gt;
&lt;/html&gt;
</code>        </p>
        <input id="saverun" type="submit" value="save and rerun" />
    </form>
</div>
<div id="runcase">    
    <h2>Run - <a href="#" id="rerun">rerun</a> - <a class="external" href="{{case.get_run_url}}">run in new window</a></h2>
   <iframe id="frame" src="{{case.get_run_url}}"></iframe>
</div>

<div id="dates">
    <p>created: {{case.created}} modified: {{case.modified}}</p>
</div>

{% endblock %}